@import "@/app/styles/variables";

.type {
    border-radius: 2px;
    padding: 6px 16px;
    cursor: pointer;
    background-color: #F2F0FD;
    color:$mainColor;

    &.active {
        background-color: $mainColor;
        color:$white;
    }
}