@import "@/app/styles/variables";

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
  
    .page-item {
      cursor: pointer;
      border-radius: 4px;
      color:$white;
  
      &.active {
        background-color: $mainColor;
        color: $white;

        .page-link {
            color:$white;
        }
      }

      .page-link {
        color:$black600;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        margin: 0 4px;

        svg {
          margin: 0 1rem;
          fill: $black600;
        }
      }

      &:hover {
        .page-link {
          color: $mainColor;

          svg {
            fill: $mainColor;
          }
        }

        &.active {
          .page-link{
            color:$white;
          }
        }
      }
  
      &:hover:not(.active) {
        background-color: #f8f9fa;
      }
  
      &.disabled {
        cursor: not-allowed;
        color: #ced4da;
      }
    }

  }
  