@import "@/app/styles/variables";

header {
    display: flex;
    background-color: $mainColor;
    align-items: center;
    height: 77px;
}

nav {
    display: flex;
    align-items: center;
  
    .basket {
      margin-left: auto;
  
      @media (width >= $sm) {
        margin-left: 0;
      }
    }
  
    img {
      margin: 0;
      cursor: pointer;
  
      @media (width >= $sm) {
        margin: 0 auto;
      }
    }
}

.basket {
    background-color: $mainHover;
    min-width: 129px;
    height: 76.644px;
    color: $white;
    justify-content: center;
    display: flex;
    align-items: Center;
  
    span {
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.16px;
    }
  
    span.icon {
      margin-right:8px;
    }
}