@import "@/app/styles/variables";

.basket-lg {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background: $white;
    height: 250px;
    border: 10px solid $mainColor;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-end;
  
    @media (width < $md) {
      position: fixed;
      right: 20px;
    }
    &-item {
        display: flex;
        align-self: flex-start;
        &-info {
            display: flex;
            flex-direction: column;
            span {
            }
        }
        &-action {
            
        }
    }

    &-price {
        border-radius: 2px;
        border: 2px solid $mainColor;
        background: $white;
        padding: 24px;
        min-width: 90px;
      
        span {
          color: $mainColor;
          text-align: right;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
        }
    }
}